@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body{
    margin: 0px;
}

.banner{
    width: 100%;
    height: 645px;
    background-image: linear-gradient(rgba(7, 4, 6, 0.25), rgba(7, 4, 6, 0.25)), url('/src/images/fundo-pesquisa.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}


.barraDePesquisa input{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 60px;
    width: 800px;
    height: 30px;
    background-color: #EDEFEE;
    padding: 10px 10px 10px 50px;
    font-size: 20px;
    color: grey;
    background-image: url('/src/images/lupa.png');
    background-size: 20px;
    background-position-x: 20px;
    background-position-y: 50%;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 12px grey;
}


.container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px;
}

.instrucoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
}

.imagens{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(/src/images/lua2.jpg);
    background-size: cover;

}

.textos{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: lightpink; */
    width: 300px;
    height: 90px;
}

